.rightBar{
    flex: 3.5;
    
}

.rightBarWrapper{
    margin: 20px;
}

.birthday{
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 15px;

    span{
        font-size: 20px;
        font-weight: 300;
    }

    .birthdayImg{
        background-color: #fff;
        width: 50px;
        height: 50px;
    }


}

.ad{
    padding: 10px 0;
    img{
        border-radius: 15px;
    }
}

.friends{
    padding: 10px 0;

  
}




/* profile */
.rightBarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightBarInfo{
    margin-bottom: 10px;
}

.rightBarInfoItem{
    margin-bottom: 10px;
}

.rightBarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}

.rightBarInfoValue{
    font-weight: 300;
}

.rightBarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightBarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.rightBarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

